{% extends "school/base.html" %}
{% load static %}
{% block body_block %}
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('https://cdn.discordapp.com/attachments/848543264783990804/1018157041069596743/banner.jpg')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">THƯ VIỆN</h2>
              <br>
              <p>Thư viện  Trường Phổ Thông Năng khiếu được xây dựng tại Trụ sở chính của Trường, 153 Nguyễn Chí Thanh Phường 9 quận 5 Thành Phố Hồ Chí Minh.</p>
            </div>
          </div>
        </div>
    </div> 
      
    

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="{% url 'school:index.html' %}">Trang chủ</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Thư viện</span>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <img src="https://cdn.discordapp.com/attachments/848543264783990804/1018159484192948334/ptnk-library.jpg" alt="Image" class="img-fluid"> 
                </div>
                <div class="col-lg-5 ml-auto align-self-center">
                    <h2 class="section-title-underline mb-5">
                        <span>Giới thiệu </span>
                    </h2>
                    <p>Thư viện với diện tích 200m tại vị trí lầu 3 được thiết kế theo mô hình Không gian học tập mở,  gồm Phòng đọc, tham khảo, kho tài liệu, khu vực tra cứu tài liệu, khu vực thông tin. Đây là một không gian rộng thoáng và yên tĩnh, mang lại hiệu quả tối ưu cho việc đọc sách và tự học.</p>
                    <p>Hiện tại  phòng thư viện được xây dựng lại khang trang, hiện đại với đầy đủ các thiết bị chiếu sáng,  máy lạnh, máy diệt khuẩn không khí, hệ thống cửa hợp lý nhằm tận dụng tối đa nguồn ánh sáng tự nhiên. Toàn bộ kho sách được thiết kế mở với những giá sách được thiết kế riêng cho thư viện, tạo cảm giác gần gũi và thân thiện với học sinh ngay từ khi bước vào thư viện.
                      
                      Môi trường học tập, nghiên cứu của Thư viện có thể phục vụ khoảng 50 người sử dụng cùng lúc tại các khu chức năng như:</p>

                    <ol class="ul-check primary list-unstyled">
                        <li>Phòng đọc mở</li>
                        <li>Phòng tự học</li>
                        <li>Kho tài liệu đóng</li>
                        <li>Khu vực tra cứu tài liệu</li>
                        <li>Khu vực thông tin: sách mới, thông tin du học</li>
                    </ol>

                </div>
            </div>

            <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                        <img src="https://cdn.discordapp.com/attachments/848543264783990804/1018159484528500756/ptnk-library-2.jpg" alt="Image" class="img-fluid"> 
                    </div>
                    <div class="col-lg-5 mr-auto align-self-center order-2 order-lg-1">
                        <h2 class="section-title-underline mb-5">
                            <span>Ngoài ra...</span>
                        </h2>
                        <p>Đặc biệt, Thư viện được thiết kế theo ý tưởng Thư viện thân thiện với ý tưởng, phong cách và quan điểm thiết kế độc đáo, mới lạ tại Việt Nam tính đến thời điểm hiện nay.</p>
                        <p>Nguồn tài nguyên thông tin đa dạng tại thư viện ngoài  nguồn sách tham khảo, sách giáo khoa, Bộ sưu tập tài liệu nhằm hỗ trợ học tập, giảng dạy, nghiên cứu;  ngoài ra còn các nguồn cơ sở dữ liệu mở truy cập miễn phí tối đa khả năng tiếp cận và khai thác tất cả tài nguyên tại Thư viện.</p>
                        <p>Thư viện là trái tim của trường học. Là nơi gắn kết giữa quá khứ và hiện tại, Thư viện Phổ Thông Năng khiếu có sứ mạng truyền cảm hứng nghiên cứu, học tập và khai phá năng lực tiềm ẩn trong mỗi  giáo viên học sinh.Thư viện Phổ Thông Năng Khiếu tạo ra một không gian tri thức phục vụ nhu cầu văn hóa đọc trong nhà trường.</p>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}